<h1 class="max-w-[340px] mx-auto text-xl sm:text-3xl font-semibold text-gray-900 tracking-tight mt-[20px] mb-4"> 
  Change Password 
</h1>
<% if flash[:error] %>
  <div class="max-w-[340px] mx-auto error-box bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative">
    <span class="block">
      <%= flash[:error] %>
    </span>
    <span class="close-btn absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
  </div>
<% end %>
<div class="max-w-[340px] mx-auto rounded p-6 mt-4 bg-gray-100 border-solid border border-gray-300">
  <%= form_with(url: update_password_url) do |f| %>
    <div class="">
      <div class="relative pb-4">
        <%= f.label :current_password, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" %>
        <%= f.password_field :password, class: "appearance-none block w-full bg-white text-gray-700 text-sm border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white" %>
      </div>
      
      <div class="relative pb-4">
        <%= f.label :new_password, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" %>
        <%= f.password_field :new_password, class: "appearance-none block w-full bg-white text-gray-700 text-sm border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white" %>
      </div>
      
      <div class="relative pb-4">
        <%= f.label :confirm_new_password, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" %>
        <%= f.password_field :confirm_new_password, class: "appearance-none block w-full bg-white text-gray-700 text-sm border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white" %>
      </div>

      <div>
        <%= f.submit "Change Password", class: "block w-full px-4 py-2 rounded-md text-sm font-medium border-0 focus:outline-none focus:ring transition text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:ring-blue-300 cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
